*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    color: #000;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}